@import "tailwindcss";

@config '../../tailwind.config.ts';

@custom-variant dark (&:is(.dark *));

@theme {
  --text-display-10xl: 9.4rem;
  --text-display-10xl-line-height: 12.2rem;

  --text-display-3xl: 3.75rem;
  --text-display-3xl-line-height: 4.5rem;

  --text-display-2xl: 3rem;
  --text-display-2xl-line-height: 3.75rem;
  --text-display-2xl-letter-spacing: -2%;

  --text-display-xl: 2.5rem;
  --text-display-xl-line-height: 3.5rem;
  --text-display-xl-letter-spacing: -2%;

  --text-display-lg: 2.25rem;
  --text-display-lg-line-height: 3rem;
  --text-display-lg-letter-spacing: -2%;

  --text-display-md: 2rem;
  --text-display-md-line-height: 2.875rem;

  --text-display-sm: 1.75rem;
  --text-display-sm-line-height: 2.375rem;

  --text-display-xs: 1.5rem;
  --text-display-xs-line-height: 2.25rem;

  --text-xl: 1.25rem;
  --text-xl-line-height: 2.125rem;

  --text-lg: 1.125rem;
  --text-lg-line-height: 2rem;

  --text-md: 1rem;
  --text-md-line-height: 1.875rem;

  --text-sm: 0.875rem;
  --text-sm-line-height: 1.75rem;

  --text-xs: 0.75rem;
  --text-xs-line-height: 1.5rem;

  /*font-weight*/
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* Neutral */
  --color-neutral-25: #fdfdfd;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e9eaeb;
  --color-neutral-300: #d5d7da;
  --color-neutral-400: #a4a7ae;
  --color-neutral-500: #717680;
  --color-neutral-600: #535862;
  --color-neutral-700: #414651;
  --color-neutral-800: #252b37;
  --color-neutral-900: #181d27;
  --color-neutral-950: #0a0d12;

  /* Primary (Yellow branding tone) */
  --color-primary-100: #fff5cd;
  --color-primary-200: #ffe582;
  --color-primary-300: #ffcb05;
  --color-primary-400: #d4a904;

  /* Secondary (Blue tone) */
  --color-secondary-100: #d7e0ef;
  --color-secondary-200: #9ab1d6;
  --color-secondary-300: #3663ad;
  --color-secondary-400: #244273;

  /* Accent */
  --color-accent-red: #ef171c;
  --color-accent-yellow: #ffcb05;
  --color-accent-green: #6aca73;

  /* Base */
  --color-base-white: #ffffff;
  --color-base-background: #0c0d0d;

  /*radius*/
  --radius-none: 0rem;
  --radius-xxs: 0.125rem;
  --radius-xs: 0.25rem;
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.625rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.25rem;
  --radius-4xl: 1.5rem;
  --radius-full: 9999px;
}

/*Shadcn*/
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

/*End of Shadcn*/
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-base-white text-neutral-25 text-sm font-normal;

  font-family: var(--font-poppins);
}

@layer components {
  /* Custom ditambah 24 px untuk padding nya */
  .custom-container {
    margin: 0 auto;
    @apply max-w-300;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }
}

img {
  user-select: none;
  -webkit-user-select: none;
  /* user-drag: none; */
  -webkit-user-drag: none;
  touch-action: none;
}
